---
import Navbar from "../components/navbarLayout.astro";
import Main from "../layouts/mainLayout.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <!-- Etiqueta de descipcion -->
    <meta name="description" content="Diario Blog website" />
    <!-- Titulo del Blog -->
    <title>Diary Blog's | UVG IT Technician</title>
    <link rel="stylesheet" href="./css/global.css" />
  </head>
  <body>
    <header>
      <Navbar>
        <slot />
      </Navbar>
    </header>
    <Main>
      <!-- contenido para Main -->
      <slot />
    </Main>
    <Footer>
      <slot />
    </Footer>
  </body>
</html>

<style>
  header {
    background: black;
    align-items: center;
    height: 80px;
    color: white;
    display: flex;
    border-radius: 5px;
    padding: 2em;
  }
</style>
