---
import { Image } from "astro:assets";
import Main from "../layouts/Main.astro";
import "../styles/global.css";
import Profile from "../utils/images/perfil.jpg";
const blogs = await Astro.glob<{
  poster: string;
  title: string;
  subtitle: string;
  date: string;
  author: string;
}>("../pages/blogs/*.md");
---

<Main title="Victoriano Juárez | Blog's">
  <div class="profile">
    <Image
      src={Profile}
      class="profile__picture"
      alt="My profile"
      width={150}
      height={150}
    />

    <div class="profile__details">
      <h1>Victoriano Juarez</h1>
      <h2>T&eacute;cnico en Inform&aacute;tica | UVG</h2>
      <p>
        Blog personal desarrollado en el curso de Comunicaci&oacute;n Oral y Escrita. <strong>Universidad del Valle de Guatemala - Altiplano Sololá</strong>. El contenido son de temas de vistas en clase y temas de programaci&oacute;n como configurar git, github, php,
        docker, python, django, personalizacion de escritorio Windows, Linux y
        macOs, entre otros.
        <br />
        <br />
        Blog de contenido de diferentes temas, algunos vistos en clase, proyectos, laboratorios, y entre muchas cosas m&aacute;s.
        </p>
    </div>
  </div>

  <div class="boton-blog">
    <a href="/blogs">Blog's</a>
  </div>
</Main>

<style>

  .boton-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0;
    }
    .boton-blog a {
      border-radius: 10px;
      background-color: var(--background);
      border: solid 1px white;
  }
  .profile {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem 0 3rem 0;
  }

  .profile__details {
    flex: 1 0 300px;
  }

  .profile__details > h1 {
    margin-top: 0;
  }

  .profile__picture {
    border-radius: 50%;
    margin: 0 2rem 1rem 0;
  }

  .featured-blogs {
    margin: 0;
    padding: 3rem 0 0;
  }

  .featured-blogs__title {
    font-size: 2rem;
    color: var(--gray-900);
  }

  .featured-blogs__description {
    margin-top: -1.2rem;
  }

  .blogs {
    font-size: 1rem;
    font-weight: 500;
  }

  .blogs__list {
    border-bottom: 1px solid;
    border-color: var(--gray-200);
  }

  .blog__link {
    opacity: 1;
    height: 100%;
    display: block;
    padding: 1rem 0;
    color: var(--gray-200);
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
  }

  .blog__link:hover {
    opacity: 0.7;
  }

  a {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
  }

  a {
    color: var(--gray-400);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
  }

  a:hover {
    color: var(--gray-900);
  }

  a.active {
    background: var(--grey-900);
    color: var(--background);
  }

  div .boton-blog {
    border: solid 1px var(--gray-200);
    background-color: var(--gray-200);
    color: var(--gray-900);
  }
</style>
