---
import Navbar from "@components/NavigationBar.astro";
import Main from "@layouts/mainLayout.astro";
import Footer from "@components/Footer.astro";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <!-- Etiqueta de descipcion -->
    <meta name="description" content="Diario Blog website" />
    <!-- Titulo del Blog -->
    <title>Diary Blog's | UVG IT Technician</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Navbar />
    <Main />
    <Footer />
  </body>
  <script>
    console.log("Hello World");
  </script>
</html>

<style></style>
