---
import { Image } from 'astro:assets';
import Main from '../layouts/Main.astro';
import Cards from '../components/Cards.astro';

import Profile from '../utils/images/perfil.jpg';

const blogs = await Astro.glob<{
	poster: string;
	title: string;
	subtitle: string;
  date: string;
  author: string;
}>("../pages/blogs/*.md");
---

<Main title="Victoriano Juárez | Blog's">
  <div class="profile">
    <Image
      src={Profile}
      class="profile__picture"
      alt="My profile"
      width={150}
      height={150}
    />

    <div class="profile__details">
      <h1>Victoriano Juarez</h1>
      <h2>T&eacute;cnico en Inform&aacute;tica</h2>
      <p>
        Oriento a los desarrolladores a crear excelentes productos escalables.
      </p>
    </div>
  </div>

  <Cards
    cards={[
      {
        title: 'Resumen del Libro | Programación en C',
        gradientFrom: '#818cf8',
        gradientTo: '#d8b4fe',
        to: '/programa-c',
      },
      {
        title: 'Libros para aprender a programar',
        gradientFrom: '#fde68a',
        gradientTo: '#fca5a5',
        to: '/work',
      },
      {
        title: 'Proyecto de Arduino | Matemáticas',
        gradientFrom: '#6ee7b7',
        gradientTo: '#9333ea',
        to: '/tech',
      },
    ]}
  />

  <div class="featured-blogs">

    <h3 class="featured-blogs__title">Blogs Destacados</h3>
    <p class="featured-blogs__description">
      Artículos de opinión que te ayudara a mejorar todo lo que sabes sobre desarrollo web.
    </p>
  </div>

	<ol>
		{
			blogs.map((blog) => (
				<li class="blogs__list">
					<a href={blog.url} class="blog__link">
						{blog.frontmatter.title}
					</a>
				</li>
			))
		}
	</ol>
</Main>

<style>
  .profile {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem 0 3rem 0;
  }

  .profile__details {
    flex: 1 0 300px;
  }

  .profile__details > h1 {
    margin-top: 0;
  }

  .profile__picture {
    border-radius: 50%;
    margin: 0 2rem 1rem 0;
  }

  .featured-blogs {
    margin: 0;
    padding: 3rem 0 0;
  }

  .featured-blogs__title {
    font-size: 2rem;
    color: var(--gray-900);
  }

	.featured-blogs__description {
		margin-top: -1.2rem;
	}

	.blogs {
		font-size: 1rem;
		font-weight: 500;
	}

	.blogs__list {
		border-bottom: 1px solid;
		border-color: var(--gray-200);
	}

	.blog__link {
		opacity: 1;
		height: 100%;
		display: block;
		padding: 1rem 0;
		color: var(--gray-200);
		text-decoration: none;
		transition: opacity 0.2s ease-in-out;
	}

	.blog__link:hover {
		opacity: 0.7;
	}
</style>
