<footer>
  &copy <small> <strong>UVG</strong>  <strong>2024</strong> </small><br />
  <span>Comunicaci&oacute;n Oral y Escrita
  <br/> </span> Victoriano Ju&aacute;rez 
  </footer>

<style>
  footer {
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
  }
</style>
