---
import { Image } from "astro:assets";
import UVG from "@images/uvg.webp";
---
<header>

  <Image src={ UVG } alt="logo uvg" width="150" height="150" />
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="./blog.astro">Blog's</a></li>
      <li><a href="./about.astro">About</a></li>
    </ul>
  </nav>
</header>

<style>
 header {
    background: black;
    align-items: center;
    height: 80px;
    color: white;
    display: flex;
    border-radius: 5px;
    padding: 2em;
  }
  Image {
    cursor: pointer;
  }

  nav {
    display: flex;
    align-items: flex-end;
    padding: 2rem 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto 0 0;
  }

  nav li {
    opacity: 0.8;
    list-style: none;
    font-size: 0.95rem;
  }

  a {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
  }


  /* nav {
		flex: 1;
		text-align: right;
	}

	nav ul li {
		list-style: none;
		display: inline-block;
		margin-left: 80px;
		padding: 2em;
	}

	nav ul li a {
		text-decoration: none;
		color: white;
		font-size: 1rem;
		color: rgba(255, 255, 255, 0.8);
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1rem;
	}

	nav ul li a:hover {
		color: white;
		background-color: #0084ff;
		box-shadow: 0 5px 10px 2px rgba(10, 137, 255, 0.5);
		border-radius: 1em;
	} */
</style>
