---
import { Image } from "astro:assets";
import myPerfil from "@images/perfil.jpg";

// css
import "@styles/global.css";
---

<main>
  <section class="profile">
    <Image
      src={myPerfil}
      class="profile__picture"
      alt="Profile piture"
      width={150}
      height={150}
    />

    <div class="profile__details">
      <h1>Victoriano Juarez</h1>
      <h2>T&eacute;cnico en Inform&aacute;tica</h2>
      <p>
        Orientar a los desarrolladores para crear excelentes y buenos proyectos
        excalables.
      </p>
    </div>
  </section>
</main>

<style is:global>
  /* main {
    width: 100vh;
    margin: auto;
  } */
  .profile {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem 0 3rem 0;
  }

  .profile__details {
    flex: 1 0 300px;
  }

  .profile__picture {
    border-radius: 50%;
    margin: 0 2rem 1rem 0;
  }

  .profile__details > h1 {
    margin-top: 0;
  }
</style>
